@import url(../ant.var.css);

[data-theme='default-dark'] {
  /* 主色 */
  /* --color-primary: #1565c0; */
  --color-primary: #48b177;
  /* 新增：主色，次要 */
  --color-primary-secondary: #48b17725;
  /* 新增：主色，禁用状态 */
  --color-primary-disabled: #133263;
  /* 新增：主色，浮动状态 */
  --color-primary-hover: #57c98a;
  /* 新增：主色，激活状态 */
  --color-primary-active: #258d54;
  /* 状态色：默认 */
  --color-status-default: #9e9e9e;
  /* 状态色：默认次要 */
  --color-status-default-secondary: #f5f5f5;
  /* 状态色：进行中 */
  --color-status-processing: #2196f3;
  /* 状态色：进行中次要 */
  --color-status-processing-secondary: #bbdefb;
  /* 状态色：成功 */
  --color-status-success: #27ad5d;
  /* 状态色：成功次要 */
  --color-status-success-secondary: #e9f7ef;
  /* 状态色：警告 */
  --color-status-warning: #eda00c;
  /* 状态色：警告次要 */
  --color-status-warning-secondary: #fffae6;
  /* 状态色：错误 */
  --color-status-error: #ed5b56;
  /* 状态色：错误次要 */
  --color-status-error-secondary: #fff3f0;
  /* 文字颜色 */
  --color-text: #e1e2e5;
  /* 新增：文字次要颜色 */
  --color-text-secondary: #e1e2e5;
  /* 文字反色 */
  --color-text-inverse: #f1f1f1;
  /* 新增：文字标题颜色 */
  --color-text-heading: #c8d5ea;
  /* 文字描述颜色 */
  --color-text-desc: #8d8d8d;
  /* 文字颜色，禁用状态 */
  --color-text-disabled: #737373;
  /* 新增：文字颜色，浮动状态 */
  --color-text-hover: #a8a8a8;
  /* 新增：文字颜色，激活状态 */
  --color-text-active: #48b177;
  /* 背景色 */
  --color-bg: #171723;
  /* 新增：背景次要颜色 */
  --color-bg-secondary: #171723;
  /* 背景反色 */
  --color-bg-inverse: #f5f5f5;
  /* 布局顶栏背景色 -> color-bg-layout-header */
  --color-bg-layout-header: #1d202f;
  /* 布局侧栏背景色 -> color-bg-layout-side */
  --color-bg-layout-side: #1d202f;
  /* 组件背景色 */
  --color-bg-component: #202737;
  /* 新增：组件背景色，次要 */
  --color-bg-component-secondary: #293341;
  /* 新增：组件背景色，禁用状态 */
  --color-bg-component-disabled: #1a202e;
  /* 组件背景色，浮动状态 */
  --color-bg-component-hover: #293146;
  /* 新增：组件背景颜色，激活状态 */
  --color-bg-component-active: #48b177;
  /* 弹出层背景色 */
  --color-bg-popover: #222d43;
  /* 背景色，占用 */
  --color-bg-placeholder: #222d43;
  /* 背景色，遮罩 */
  --color-bg-mask: rgba(0, 0, 0, 0.3);
  /* 背景色，模糊背景 */
  --color-bg-blur: rgba(55, 65, 81, 0.4);
  /* 边框颜色 */
  --color-border: #3f5177;
  /* 新增：边框颜色，次要 */
  --color-border-secondary: #2a344c;
  /* 新增：边框颜色，反色 */
  --color-border-inverse: #d9d9d9;
  /* 新增：边框颜色，禁用状态 */
  --color-border-disabled: #2a3960;
  /* 新增：边框颜色，悬浮状态 */
  --color-border-hover: #576d9c;
  /* 新增：边框颜色，激活状态 */
  --color-border-active: #48b177;
  /* 布局登录背景图 -> image-bg-layout-login */
  --image-bg-layout-login: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%239bc2d8' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235a6685' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2385abd6' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235f7295' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%237193d8' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%238a9ab5' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236c80d9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%238ea4c1' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236b74e8' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%237b98ba' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237f7cf6' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%239dbad9' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  /* 布局顶栏背景图 -> image-bg-layout-header */
  --image-bg-layout-header: unset;
  /* 布局主体背景图 -> image-bg-layout-body */
  --image-bg-layout-body: unset;
  /* 布局侧栏背景图 -> image-bg-layout-side */
  --image-bg-layout-side: unset;
  /* ??? */
  --size-margin: 16px;
  /* ??? */
  --size-padding: 12px;
  /* 圆角尺寸 */
  --size-border-radius: 6px;
  /* 新增：圆角小尺寸 */
  --size-border-radius-sm: 4px;
  /* 新增：圆角大尺寸 */
  --size-border-radius-lg: 8px;
  /* 边框尺寸 */
  --size-border-width: 3px;
  /* 内容间隙 */
  --size-cell-gap: 16px;
  /* 新增：内容间隙小尺寸 */
  --size-cell-gap-sm: 8px;
  /* 新增：内容间隙大尺寸 */
  --size-cell-gap-lg: 24px;
  /* 默认页面顶栏高度 */
  --size-layout-header-height: 52px;
  /* 新增：页面顶栏扩展高度，可以显示更多信息 */
  --size-layout-header-height-expand: 78px;
  /* 内容固定宽度尺寸 */
  --size-layout-content-width: 1400px;
  /* 布局顶栏 zIndex */
  --z-index-header: 200;
  /* 新增：侧边栏 zIndex */
  --z-index-side: 190;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color-scheme: dark;
  accent-color: var(--color-primary);
}
