.form-group + .form-group {
  margin-top: 1.5em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.25em 0.75em;
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg-component);
  border: 2px solid var(--color-border);
  border-radius: var(--size-border-radius);

  &:focus-visible {
    border-color: var(--color-primary);
    outline: none;
  }
}

.btn {
  margin-top: 4vh;
  width: 100%;
  padding: 0.25em 0.75em;
  font-size: 18px;
  text-align: center;
  border: 1px solid transparent;
}

.btn-primary {
  color: var(--color-text);
  background-color: var(--color-primary);
  border-radius: var(--size-border-radius);
}

.btn-primary:hover {
  color: var(--color-text);
  background-color: var(--color-primary);
}
