[data-theme] .css-var-r0 {
  --ant-color-primary: var(--color-primary);
  --ant-color-primary-hover: var(--color-primary-hover);
  --ant-color-primary-border-hover: var(--color-primary-hover);
  --ant-color-bg-container: var(--color-bg-component);
  --ant-color-bg-elevated: var(--color-bg-popover);
  --ant-color-border: var(--color-border);
  --ant-input-hover-border-color: var(--color-primary);
  --ant-color-border-secondary: var(--color-border-secondary);
  --ant-color-link: var(--color-primary);
  --ant-color-link-hover: var(--color-primary);
  --ant-color-text: var(--color-text);
  --ant-color-text-heading: var(--color-text-disabled);
  --ant-color-text-description: var(--color-text-desc);
  --ant-color-text-placeholder: var(--color-text-desc);
  --ant-color-text-disabled: var(--color-text-disabled);
  --ant-color-text-quaternary: var(--color-text-desc);
  --ant-color-text-tertiary: var(--color-text-disabled);
  --ant-color-icon: var(--color-text-desc);
  --ant-color-icon-hover: var(--color-text);
  --ant-color-split: var(--color-border-secondary);

  --ant-border-radius-sm: var(--size-border-radius-sm);
  --ant-border-radius: var(--size-border-radius);
  --ant-border-radius-lg: var(--size-border-radius-lg);

  --ant-margin-lg: var(--size-cell-gap);
}

[data-theme] .css-var-r0.ant-modal-css-var {
  --ant-modal-header-bg: var(--color-bg-component);
  --ant-modal-content-bg: var(--color-bg-component);
  --ant-modal-title-color: var(--color-text);
}

[data-theme] .css-var-r0.ant-drawer {
  --ant-drawer-z-index-popup: 2000;
}

[data-theme] .css-var-r0.ant-card {
  --ant-card-actions-bg: var(--color-bg);
}

[data-theme] .css-var-r0.ant-table {
  --ant-table-header-bg: var(--color-bg);
  --ant-table-header-color: var(--color-text);
  --ant-table-header-split-color: var(--color-border);
  --ant-table-row-hover-bg: var(--color-bg-component-hover);
  --ant-table-border-color: var(--color-border-secondary);
  --ant-table-footer-bg: var(--color-bg);
  --ant-table-expand-icon-bg: var(--color-bg);
  --ant-table-header-border-radius: var(--size-border-radius-lg);
  --ant-table-row-selected-bg: var(--color-bg-component-secondary);
  --ant-table-row-selected-hover-bg: var(--color-bg-component-hover);
}

[data-theme] .css-var-r0.ant-breadcrumb {
  --ant-breadcrumb-item-color: var(--color-text);
  --ant-breadcrumb-last-item-color: var(--color-text);
  --ant-breadcrumb-link-color: var(--color-text);
  --ant-breadcrumb-separator-color: var(--color-text-desc);
}

[data-theme] .css-var-r0.ant-tabs-css-var {
  --ant-tabs-item-color: var(--color-text);
  --ant-tabs-item-selected-color: var(--color-primary);
  --ant-tabs-ink-bar-color: var(--color-primary);
  --ant-tabs-item-hover-color: var(--color-primary);
  --ant-tabs-item-active-color: var(--color-primary);
}

[data-theme] .css-var-r0.ant-picker-calendar {
  --ant-calendar-full-bg: var(--color-bg-component);
  --ant-calendar-full-panel-bg: var(--color-bg-component);
}

[data-theme] .css-var-r0.ant-select-css-var {
  --ant-select-selector-bg: var(--color-bg-component);
}

[data-theme] .css-var-r0.ant-radio-css-var {
  --ant-radio-button-bg: var(--color-bg-component);
  --ant-radio-button-checked-bg: var(--color-bg-component);
  --ant-radio-button-color: var(--color-text);
  --ant-radio-button-solid-checked-bg: var(--color-primary);
  --ant-radio-button-solid-checked-hover-bg: var(--color-primary-hover);
  --ant-radio-button-solid-checked-active-bg: var(--color-primary-active);
}

[data-theme] .css-var-r0.ant-form-css-var {
  --ant-form-label-color: var(--color-text);
}

[data-theme] .css-var-r0.ant-input-css-var {
  --ant-input-active-bg: var(--color-bg-component);
  --ant-input-hover-bg: var(--color-bg-component);
  --ant-input-active-border-color: var(--color-primary);
}

[data-theme] .css-var-r0.ant-input-number-css-var {
  --ant-input-number-hover-bg: var(--color-bg-component);
  --ant-input-number-hover-border-color: var(--color-primary);
  --ant-input-number-active-bg: var(--color-bg-component);
  --ant-input-number-active-border-color: var(--color-primary);
  --ant-input-number-handle-bg: var(--color-bg-component-secondary);
  --ant-input-number-handle-border-color: var(--color-border);
}

[data-theme] .css-var-r0.ant-btn {
  --ant-button-default-bg: var(--color-bg-component);
  --ant-button-default-hover-bg: var(--color-bg-component);
  --ant-button-default-active-bg: var(--color-bg-component-hover);
  --ant-button-default-border-color: var(--color-border);
  --ant-button-border-color-disabled: var(--color-border);
  --ant-button-default-hover-border-color: var(--color-primary-hover);
  --ant-button-default-hover-color: var(--color-primary-hover);
  --ant-button-default-color: var(--color-text);
  --ant-color-primary-active: var(--color-primary-active);
  --ant-button-default-active-border-color: var(--color-primary-active);
  --ant-button-default-active-color: var(--color-primary-active);
}

[data-theme] .css-var-r0.ant-pagination {
  --ant-pagination-item-bg: var(--color-bg-component);
  --ant-pagination-item-active-bg: var(--color-bg-component);
  --ant-pagination-hover-bg: var(--color-bg-component-secondary);
  --ant-pagination-active-bg: var(--color-bg-component-secondary);
}

[data-theme] .css-var-r0.ant-switch {
  --ant-switch-handle-bg: var(--color-bg-component-secondary);
}

[data-theme] .css-var-r0.ant-tree {
  --ant-tree-directory-node-selected-bg: var(--color-primary);
}

[data-theme] .css-var-r0.ant-progress {
  --ant-progress-default-color: var(--color-primary);
}

[data-theme] .css-var-r0.ant-slider {
  --ant-slider-rail-bg: var(--color-bg-component-secondary);
  --ant-slider-rail-hover-bg: var(--color-bg-component-hover);
  --ant-slider-track-bg: var(--color-primary);
  --ant-slider-track-hover-bg: var(--color-primary-hover);
  --ant-slider-handle-color: var(--color-primary);
  --ant-slider-handle-active-color: var(--color-primary-active);
  --ant-slider-dot-active-border-color: var(--color-primary-secondary);
}

[data-theme] .ant-badge {
  color: inherit;
}
[data-theme] .ant-badge .ant-badge-count {
  color: var(--color-text-inverse);
}

[data-theme] .ant-divider-horizontal.ant-divider-with-text {
  color: var(--color-text-desc);
  border-block-start: 0 var(--color-border-secondary);
}

[data-theme] .css-var-r0.ant-menu-css-var {
  --ant-menu-item-bg: var(--color-bg-layout-side);
  --ant-menu-sub-menu-item-bg: var(--color-bg);
  --ant-menu-item-active-bg: var(--color-bg-component-hover);
  --ant-menu-item-selected-bg: var(--color-primary-secondary);
  --ant-menu-item-selected-color: var(--color-primary);
  --ant-menu-item-color: var(--color-text);
  --ant-menu-item-hover-color: var(--color-text-hover);
}
